<body> 
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset class = "d-grid gap-2 col-12">

      <legend>ADD ALERT</legend> 

      <input type="text" name="name" placeholder="Friend Name" formControlName="name" />
      <div *ngIf="form.get('name')!.hasError('maxLengthExceeded') && form.get('name')!.touched" class="error">
        <span class="error-message">{{ form.get('name')!.getError('message') }}</span>
      </div>

      <label>Location:</label>
      <div id="location_switch" class="mx-auto text-center">
        Use Pre-Defined
          <label class="switch">
            <input type="checkbox" id="custom" (change)="onCheckboxChange()"/>
            <span class="slider round"></span>
          </label>
        Enter Custom
      </div>
      <!--Location dropdown menu for predetrimned options, or manual input for custom options-->
      <div *ngIf="!useCustom">
        <select name="location" id="locations" formControlName="location">
          <option value="" disabled selected hidden>Choose a location</option>
          <option *ngFor="let location of locations" [value]="location.location_name">{{ location.location_name }}</option>
        </select>
      </div>

      <div *ngIf="useCustom">
        <input type="text" name="location" formControlName="location" placeholder="Location Name" />
        <input type="number" name="y" id="y" formControlName="y" placeholder="Longitude" />
        <div *ngIf="form.get('y')!.hasError('invalidCoordinate') && form.get('y')!.touched" class="error">
          <span class="error-message">{{ form.get('y')!.getError('message') }}</span>
        </div>
        <input type="number" name="x" id="x" formControlName="x" placeholder="Latitude" />
        <div *ngIf="form.get('x')!.hasError('invalidCoordinate') && form.get('x')!.touched" class="error">
          <span class="error-message">{{ form.get('x')!.getError('message') }}</span>
        </div>
      </div>

      <input type="text" name="reporter" placeholder="Relation" formControlName = "reporter">

      <input type="text" name="phone" placeholder="Phone Number" formControlName = "phone">

      <div *ngIf="form.get('phone')!.hasError('invalidPhoneFormat') && form.get('phone')!.touched" class="error">
        <span class="error-message">{{ form.get('phone')!.getError('message') }}</span>
      </div>

      <input type="text" name="extra" placeholder="Extra Description" formControlName = "extra">

      <input type="text" name="imageUrl" placeholder="Image URL (optional)" formControlName="imageUrl">
      <div *ngIf="form.get('imageUrl')!.hasError('invalidImageUrlFormat') && form.get('imageUrl')!.touched" class="error">
        <span class="error-message">{{ form.get('imageUrl')!.getError('message') }}</span>
      </div>

      <button class = "btn btn-outline-primary"  [disabled]="!form.valid">SAVE</button>
    </fieldset>
  </form>

  <a routerLink="/alerts"><< BACK TO ALERTS LIST</a>
</body>